* {
    box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}
.all {
  padding: 50px;
}

.rectangle {
  width: 256px;
  height: 26px;
  border-radius: 20px;
  background: rgba(158,158,158,1);
  /* background: -moz-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,158,158,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(158,158,158,1) 0%, rgba(0,0,0,1) 100%); */
  background: linear-gradient(to left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e9e9e', endColorstr='#000000', GradientType=1 );
}

/* Rectangle 25 */
.yellow{
  width: 356px;
  min-height: 48px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #ffeb00; 
  border-radius: 20px;
  font-style: normal;
  font-weight: bold;
  padding-left: 35px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.header{
  font-size: 20px;
line-height: 20px;
/* or 100% */

display: flex;
align-items: center;
text-align: center;
}
.center {
  display:flex;
  align-items: center;
}

.map {
  cursor: pointer;

}

.shkala {
  font-weight: 100;
  font-size: 20px;
  padding-bottom: 20px;
}

#vueapp {
  padding: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  /* display: none; */
}

.back {
   height: 48px;
   width: 48px;
   border-radius: 48px;
   border: 2px solid #ffeb00;

   background: #ffeb00 url('../icons/arrow.svg') no-repeat;
   cursor: pointer;
}
.back {
  /* transform: zoom(1.1); */
}
.back .inner {
  position: relative;
  left: 8px;
  top: 15px;
}
.yellow-wrap {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.dot {
  position: absolute;
  left: 0;
  top: 10px;
  width: 26px;
  height: 26px;
  border-radius: 30px;
  background: gray;
  font-size: 10px;
  top: 5px;
  padding: 5px;
  font-weight: 100;
}
.yellow-wrap:hover .dot {
  font-size: 20px;
  font-weight: 100;
  width: 36px;
  height: 36px;
  top: 5px;
  padding: 5px;
  transition: all 0.3s ease-out 0s;
}

.buttons {
  margin-top: 10px;
}

.wrap {
  display: flex;
  align-items: top;
}
.header-block {
  margin-left: 10px;
  margin-top: 0;
  height: 48px;
   border: 2px solid #ffeb00;
   background: #fff;

}

.line {
  margin-left: 240px;
}
.pos {
  display: inline;
  font-weight:100;
  width: 100%;
}

.person-name {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  /* or 100% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 25px;
  margin-left: 40px;
  background: #fff;
  border: 2px solid gray;
}

.mut {
  width: 48px;
  height: 48px;
  left: 0;
  top: 10px;
  border-radius: 30px;
  background: black;
  padding-top: 15px;
  color: #ffeb00;
  padding-left: 8px;
  font-weight: 100;
  margin-top: 10px;
  margin-left: 40px;
}

.person-wrap {
    margin-left: 250px;
}

.mut-info {
  margin-top: 10px;
  margin-left: 40px;
  width: 256px;
  border: 2px solid #ffeb00;
  border-radius: 10px;
  padding: 7px;
    position: absolute;
    z-index: 10;
    background: #fff;
}
.d-block {
  display: block
}

.pa {
  margin-left: 40px;
}
.chuvak-holder {
  margin-top:50px;
  margin-left:150px;
}
.chart {
  margin-top: 20px;
  width: 420px;
  height: 300px;
}
.chart:first-of-type {
  margin-right: 60px;
}
