<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap" rel="stylesheet">
    <link href="./styles/style.css" rel="stylesheet">
    <script type="text/javascript" src="raphael-min.js"></script>
    <script type="text/javascript" src="russian-map.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
  </head>
  <body>
    <div class="all">
      <div id="vueapp">
        <div class="wrap">
        <div>
          <div class="buttons wrap">
           
            <div class="back" v-on:click="back">
              <div class="inner">
                <svg width="28" height="16" viewBox="0 0 28 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.266237 7.32059C-0.108989 7.72584 -0.0846544 8.35853 0.32059 8.73376L6.92444 14.8484C7.32968 15.2237 7.96238 15.1993 8.33761 14.7941C8.71283 14.3888 8.6885 13.7561 8.28325 13.3809L2.41317 7.94565L7.84843 2.07556C8.22366 1.67032 8.19932 1.03762 7.79408 0.662393C7.38883 0.287166 6.75614 0.311501 6.38091 0.716746L0.266237 7.32059ZM26.9616 6.00074L0.961566 7.00074L1.03843 8.99926L27.0384 7.99926L26.9616 6.00074Z" fill="black"/>
                </svg>
              </div>
            </div>
            <div class="yellow header-block">
              {{heading}}
            </div>
          </div>
          <div class="chuvak-holder" v-if="route === 3">
            <svg width="94px" height="94px" viewBox="0 0 94 94" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group" transform="translate(5.000000, 4.000000)" stroke="#979797" stroke-width="8">
                        <circle id="Oval" cx="42" cy="24" r="24"></circle>
                        <path d="M0.75,84 C14.3055556,70.6666667 28.8055556,64 44.25,64 C59.6944444,64 72.6944444,70.6666667 83.25,84" id="Line" stroke-linecap="square"></path>
                    </g>
                </g>
            </svg>
          </div>
        </div>
          <div class="line" v-if="route === 1">
            <div v-for="(item, key) in offices" v-on:click="officeIn(item.key)">
              <yellow-block  v-bind:ttt="item.name" v-bind:rate="item.rating"></yellow-block>
            </div>
          </div>
          <div class="line" v-if="route === 2">
            <div v-for="(item, key) in officialsArr" v-on:click="officialsIn(item.key)">
              <yellow-block v-bind:ttt="item.name" v-bind:rate="item.rating" v-bind:position="item.last_position"></yellow-block>
            </div>
          </div>
          <div v-if="route === 3" class="person-wrap">
            <person :name="personName" :info="officialsInfo"></person>
          </div>
        </div>
      </div>
  
    <div class="center">
      <div class="yellow header" id="region"></div>
    </div>
    <div class="map" id="russian-map"></div>
    <div class="shkala">шкала мутности</div>
    <div class="rectangle"></div>
    <!-- <div class="yellow">
      Соотношение готового дохода и цены недвижимости
    </div> -->
   
  </div>
   <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="map.js"></script>
    <script type="text/javascript" src="officials.js"></script>
    <script type="text/javascript" src="yellow.js"></script>
    <script type="text/javascript" src="person.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script type="text/javascript">


      new Vue({
        el: '#vueapp',
        data: {
          heading: 'hello',
          offices: [],
          officials: [],
          officialsInfo: {},
          route: 0,
          personName: '',
        },
        computed:{
          officialsArr() {
            if(!this.officials) return [];

            const arr = [];
            for(let key in this.officials) {
                  const item = this.officials[key];
                  item['key'] = key;
                  arr.push(item);
                }
            return arr.sort((a,b) =>  b.rating - a.rating);
          }
        },
        methods: {
          back() {
            this.route -= 1;
            if (!this.route) {
              document.getElementById('vueapp').style.display = "none";
            }
          },
          officeIn(key){
            this.route = 2;

            // console.log('key', key);
            fetch("../static_info/offices/" + key + ".json").then((officials) =>{
              officials.json().then((data) => {
                // console.log(data);
                this.officials = data;
              });
            });
          },
          officialsIn(key){
            this.route = 3;
            this.personName = this.officials[key].name;
            // console.log('key', key);
            fetch("../static_info/officials/" + Math.floor(key/100) + ".json").then((officials) =>{
              officials.json().then((data) => {
                // console.log('offi', data);
                this.officialsInfo = data[key];
              });
            });
          }
        },
        mounted() {
          document.getElementById('vueapp').style.display = "none";

          document.addEventListener('bii', (e) => {
            this.route = 1;

            this.heading = window.store.regions[window.regId].name;
            // console.log('big', window.store.regions, window.regId) }, false);
            fetch("../static_info/regions/" + window.regId + ".json").then((offices) =>{
              offices.json().then((office) => {
                console.log('office', office);
                this.offices = office;
                const arr = [];
                for(let key in office) {
                  const item = office[key];
                  item['key'] = key;
                  arr.push(item);
                }

                this.offices = arr.sort((a,b) =>  b.rating - a.rating)
              });
            });
          });
          document.addEventListener('person', (e) => {
            this.officialsInfo = window.store.person;
          });
        }
      });
    </script>
  </body>
</html>
